/* Seccion de colores */
::selection {
  background: #d2e0fb;
  color: #354f52; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  color: #343333d7;
  background: linear-gradient(160deg, #b0d9e3, #f9f3cc);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center; }

/* Dashboard */
.dashboard {
  height: 90%;
  width: 95%;
  background: #fff;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  box-shadow: 0 0.4rem 2rem 2px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 0.6fr 2fr 0.8fr; }

/* Seccion de colores */
.btn {
  display: inline-block;
  width: max-content;
  height: max-content;
  text-decoration: none; }
  .btn-student {
    background: transparent;
    border: 1px solid #9fd36f;
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    color: #9fd36f;
    font-weight: 700;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    .btn-student:hover {
      box-shadow: 0 2px 4px 2px #9fd36f4d; }
    .btn-student:active {
      box-shadow: 0 1px 2px 1px #9fd36f35; }

/* Seccion de colores */
.student {
  padding: 3.4rem; }
  .student__info {
    display: flex;
    align-items: center; }
  .student__img div {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    background: red;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem; }
  .student__name {
    display: flex;
    flex-flow: column wrap;
    align-self: flex-start;
    margin-left: 1.8rem; }
    .student__name .student__tooltip {
      display: inline-block;
      width: max-content;
      height: max-content;
      background: #d7e5ca;
      padding: 0.4rem 1rem;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      font-weight: 700;
      margin-bottom: 0.6rem; }
    .student__name .student__tittle {
      font-size: 3rem;
      margin-bottom: 0.6rem; }
  .student__asignature:not(:first-of-type) {
    margin-top: 1rem; }
  .student__asignature:last-of-type {
    margin-bottom: 1.4rem; }
  .student__asignature {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .student__asignature .student__description {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-weight: 600;
      font-size: 1.4rem;
      vertical-align: middle;
      color: #3433337f; }
      .student__asignature .student__description span {
        color: #343333d7; }

/* Section areas */
.areas {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center; }

.progress .areas__sub {
  font-size: 2rem; }

.progress p {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #3433337f;
  margin: 4px 0 1.2rem; }
  .progress p span {
    color: #343333d7; }

.progress__bar:not(:first-of-type) {
  margin-top: 1.4rem; }

.progress__bar .progress__asignment {
  display: flex;
  align-items: center;
  gap: 1.4rem; }

.progress__bar span {
  font-size: 1.4rem;
  font-weight: 700; }

.progress__bar div {
  display: inline-block;
  width: 100%;
  height: 1.2rem;
  background: #3e474a1b;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
  overflow: hidden; }

.progress__bar div::before {
  position: absolute;
  content: "";
  width: 80%;
  background: orangered;
  height: inherit; }

.progress__css::before {
  background: #5454ea !important;
  width: 70% !important; }

.progress__bootstrap::before {
  background: #7a337a !important;
  width: 65% !important; }

.progress__js::before {
  background: #bf911c !important;
  width: 75% !important; }

.progress__react::before {
  background: #159089 !important;
  width: 65% !important; }

.graphic {
  margin-left: 50%;
  align-self: flex-end; }
  .graphic svg {
    display: inline-block;
    width: 18rem;
    height: 100%;
    object-fit: cover; }

/* Section contact */
.contact {
  margin-top: 2rem; }
  .contact__view {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact__view a {
      text-decoration: none;
      color: #9fd36f;
      font-weight: 700;
      font-size: 1.4rem;
      position: relative; }
      .contact__view a::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: #5f9030;
        bottom: -4px;
        left: -50px;
        opacity: 0;
        overflow: hidden;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease; }
      .contact__view a:hover::before {
        opacity: 1;
        left: 0; }
      .contact__view a:active::before {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }

.friends {
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-between; }
  .friends figure {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .friends figure div {
      display: inline-block;
      width: 6.7rem;
      height: 6.7rem;
      background: red;
      border-radius: 0.6rem;
      -webkit-border-radius: 0.6rem;
      -moz-border-radius: 0.6rem;
      -ms-border-radius: 0.6rem;
      -o-border-radius: 0.6rem; }
    .friends figure p {
      margin-top: 2px;
      font-size: 1.2rem;
      font-weight: 700; }
